.dropdown {
    position: relative;

    &__label {
        cursor: pointer;
    }

    &__menu {
        position: absolute;
        width: 20rem;
        top: 100%;
        right: 30%;
        list-style: none;
        background-color: var(--secondary-blue);
        transition: transform .1s linear;
        transform-origin: top;

        &-active {
            transform: scaleY(0);
        }
    }

    &__option {
        cursor: pointer;
        font-size: 1.4rem;
        padding: 1.5rem 2rem;

        &:hover {
            background-color: var(--primary-orange);
        }
    }
}