.action--btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3rem;
    width: 3rem;

    &::before {
        display: block;
        text-align: center;
        border: 1px solid var(--primary-gray);
        border-radius: 50%;
        font-size: 2rem;
    }

    &:hover {
        color: var(--primary-orange);
        border-color: var(--primary-orange);
    }


    &:hover {
        fill: var(--primary-orange);
    }

    &__container {
        position: relative;
        padding-left: 3rem;
    }

    &__label {
        margin-left: 0.5rem;
    }
}