.navbar {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0rem;
    }

    &__link {
        color: inherit;
        text-decoration: none;
    }
}