@use "./assets/styles/utilities.scss";
@use "./assets/styles/inputs.scss";
@use "./assets/styles/buttons.scss";
@use "./assets/styles/layouts.scss";
@use "./assets/styles/links.scss";
@import "./assets/styles/mediaQueries.scss";

.app__container {
    width: 90%;
    margin: auto;
    padding: 1rem 0 3rem 0;

    @include for-size(tablet-portrait-up) {
        & {
            width: 97%;
        }
    }
}