:root {
    --primary-blue: #1B1A22;
    --secondary-blue: #2E2C3A;
    --primary-orange: #FE6851;
    --primary-gray: #E5E5E5;

    --link-color: #0645AD;

    --border-radius: 5px;

    --icon-x: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}


@font-face {
    font-family: OpenSans;
    src: url("assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: OpenSans, Arial;
    color: var(--primary-gray);
    line-height: 1.6;
    background-color: var(--primary-blue);
    font-size: 2rem;
}

/* Works on Firefox */
* {
    scrollbar-width: 1rem;
    scrollbar-color: var(--primary-gray) var(--secondary-blue);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: var(--secondary-blue);
    border-radius: 2rem;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-gray);
    border-radius: 2rem;

}