input[type=text],
input[type=number],
select,
.input--select-many {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-gray);
    padding-bottom: 1.8rem;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}


select {
    cursor: pointer;

    & option {
        background-color: var(--primary-blue);
        font-size: 1.4rem;

        &:hover {
            background-color: var(--primary-orange);
        }
    }
}

.input__label {
    margin-bottom: 2rem;
    display: block;
}


input[type=radio] {
    display: none;
}