.small-margin-top {
    margin-top: 2rem;
}

.small-margin-right {
    margin-right: 2rem;
}

.small-margin-left {
    margin-left: 2rem;
}

.small-margin-bottom {
    margin-bottom: 2rem;
}

.display-none {
    display: none;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}